<div>
  <div>
    <app-autocomplete-http-filter (finalOptions)="onOptionsChanged($event)"></app-autocomplete-http-filter>
  </div>
  <div>
    <app-file-upload [options]="this.options"></app-file-upload>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab label="Private files">
        <app-datatable fileType="PRIVATE"></app-datatable>
      </mat-tab>
      <mat-tab label="Shared files">
        <app-datatable fileType="SHARED"></app-datatable>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
