<div>
  <div>
    <app-autocomplete-http-filter (finalOptions)="onOptionsChanged($event)"></app-autocomplete-http-filter>
  </div>
  <div>
    <app-file-upload [options]="this.options"></app-file-upload>
  </div>
  <div>
    <mat-tab-group (selectedTabChange)="handleChanged($event)">
      <mat-tab label="{{privateFilesLabel}}">
        <app-datatable *ngIf="privateTabSelected" fileType="PRIVATE"></app-datatable>
      </mat-tab>
      <mat-tab label="{{sharedFilesLabel}}">
        <app-datatable *ngIf="sharedTabSelected" fileType="SHARED"></app-datatable>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
